@keyframes navOpen {
  from {
    height: 0; }
  to {
    height: 100vh; } }

.container .main__intro .intro-text .hr, .container .main__about .hr {
  height: 0.0625rem;
  width: 10rem;
  margin-bottom: 4.8125rem; }

.container .main__intro .intro-text .intro-link, .container .main__more .more-content .more-link {
  color: #fafafa;
  border: 0.125rem solid #fafafa;
  background-color: transparent;
  transition: all 0.3s ease-in;
  width: fit-content;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase; }
  .container .main__intro .intro-text .intro-link:hover, .container .main__more .more-content .more-link:hover {
    background-color: #fafafa;
    color: #2d2640; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #fafafa;
  width: 100vw;
  overflow-x: hidden; }

.container {
  min-height: 100vh;
  width: 100vw; }
  .container .header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.0625rem 17rem;
    position: relative;
    z-index: 2; }
    .container .header__hamburger-toggle {
      display: none; }
    .container .header__nav__items {
      display: flex; }
      .container .header__nav__items li {
        list-style-type: none;
        margin-left: 1rem;
        text-transform: uppercase;
        cursor: pointer; }
        .container .header__nav__items li a {
          text-decoration: none;
          color: #837d87; }
          .container .header__nav__items li a:hover {
            color: #2d2640; }
        .container .header__nav__items li .active {
          border: 0.125rem solid #2d2640;
          color: #2d2640;
          padding: 0.7rem 1.75rem;
          transition: all 0.3s ease-in; }
          .container .header__nav__items li .active:hover {
            background-color: #2d2640;
            color: #fafafa; }
  .container .main__intro {
    height: fit-content;
    background-color: #2d2640;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 15rem; }
    .container .main__intro .desktop-left-decor-pattern {
      position: absolute;
      left: -0.3125rem;
      top: 36.25rem; }
    .container .main__intro .desktop-right-decor-pattern {
      position: absolute;
      top: 5.5rem;
      right: 0.0625rem;
      z-index: 1; }
    .container .main__intro .mobile-left-decor-pattern,
    .container .main__intro .mobile-right-decor-pattern {
      display: none; }
    .container .main__intro .intro-text .hr {
      background-color: #fafafa; }
    .container .main__intro .intro-text h1 {
      font-size: 5rem;
      line-height: 5rem;
      color: #fafafa; }
      .container .main__intro .intro-text h1 span {
        display: block; }
    .container .main__intro .intro-text p {
      margin: 1.9375rem 0 2.375rem;
      width: 34.375rem;
      line-height: 1.5rem;
      color: #fafafa;
      opacity: 0.8; }
    .container .main__intro .intro-text .intro-link {
      padding: 0.9375rem 1.75rem;
      margin-bottom: 1.4375rem; }
    .container .main__intro .intro-img-mobile {
      display: none; }
    .container .main__intro .intro-img-desktop {
      position: relative;
      top: 8.75rem;
      right: -2.625rem; }
  .container .main__about {
    background-color: transparent;
    padding: 244px 275px 173px; }
    .container .main__about .hr {
      background-color: #95a9c6; }
    .container .main__about h2 {
      color: #2d2640;
      font-size: 4rem; }
    .container .main__about .about-services {
      display: flex;
      justify-content: space-between; }
      .container .main__about .about-services div {
        max-width: 352px; }
        .container .main__about .about-services div img {
          margin-bottom: 40px;
          margin-top: 106px; }
        .container .main__about .about-services div h3 {
          font-size: 1.8rem;
          line-height: initial; }
        .container .main__about .about-services div p {
          color: #837d87;
          margin-top: 20px;
          line-height: 2; }
  .container .main__more {
    padding: 0 250px;
    position: relative;
    margin-bottom: 160px; }
    .container .main__more .more-content {
      background-color: #2d2640;
      padding: 77px 133px;
      height: fit-content;
      color: #fafafa;
      display: flex; }
      .container .main__more .more-content h2 {
        display: inline;
        font-size: 3rem;
        line-height: 1; }
        .container .main__more .more-content h2 span {
          display: block; }
      .container .main__more .more-content .more-link {
        position: relative;
        margin: auto;
        bottom: 4px;
        left: 211px;
        z-index: 2;
        padding: 0.9375rem 1.75rem; }
      .container .main__more .more-content .more-desktop-img {
        position: absolute;
        top: 0;
        right: 250px;
        z-index: 1; }
  .container .footer {
    background-color: whitesmoke;
    height: fit-content; }
    .container .footer__content {
      padding: 65px 250px 0 250px;
      background-image: url(../images/bg-pattern-footer-desktop.svg);
      background-repeat: no-repeat;
      background-position: top left; }
      .container .footer__content .links {
        display: flex;
        justify-content: space-between; }
        .container .footer__content .links a {
          margin: 0 0 0 15px;
          cursor: pointer; }
          .container .footer__content .links a:hover path {
            fill: #2b272f; }
      .container .footer__content hr {
        margin-bottom: 51px;
        margin-top: 38px; }
      .container .footer__content .useful-links {
        display: flex;
        justify-content: space-between; }
        .container .footer__content .useful-links div {
          display: flex;
          flex-direction: column;
          width: 269.01px;
          text-transform: uppercase; }
          .container .footer__content .useful-links div h4 {
            color: #837d87;
            margin-bottom: 42px;
            font-size: 1rem;
            font-weight: 700; }
          .container .footer__content .useful-links div a {
            font-size: 1rem;
            color: #2b272f;
            margin-bottom: 15px;
            font-weight: 700;
            cursor: pointer;
            text-decoration: none; }
            .container .footer__content .useful-links div a:hover {
              text-decoration: underline; }
    .container .footer .attribution {
      font-size: 1rem;
      text-align: center;
      background-color: #2d2640;
      padding: 20px 0;
      color: #fafafa;
      margin-top: 3rem; }
    .container .footer .attribution a {
      color: #95a9c6; }

@media (max-width: 1200px) {
  .container .header {
    padding: 25px; }
    .container .header__hamburger-toggle {
      display: block; }
    .container .header__nav {
      display: none;
      width: 100vw;
      height: 100vh;
      position: absolute;
      left: 0;
      top: 4.9rem;
      background: #2b272f url(../images/bg-pattern-mobile-nav.svg);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: 91.1%;
      background-size: 100% 218px;
      animation: navOpen 2s ease-in; }
      .container .header__nav__items {
        flex-direction: column; }
        .container .header__nav__items li {
          text-align: center;
          padding: 25px 15px; }
          .container .header__nav__items li a {
            color: #fafafa; }
          .container .header__nav__items li .active {
            margin: 20px auto 0;
            padding: 15px 15px;
            border: 0.125rem solid #fafafa;
            color: #fafafa; }
  .container .main__intro {
    flex-direction: column-reverse;
    padding: 0; }
    .container .main__intro .desktop-left-decor-pattern,
    .container .main__intro .desktop-right-decor-pattern {
      display: none; }
    .container .main__intro .mobile-left-decor-pattern,
    .container .main__intro .mobile-right-decor-pattern {
      display: block; }
    .container .main__intro .mobile-left-decor-pattern {
      position: absolute;
      left: -0.3125rem;
      top: 64rem; }
    .container .main__intro .mobile-right-decor-pattern {
      position: absolute;
      top: 82rem;
      right: 0.0625rem; }
    .container .main__intro .intro-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 92px; }
      .container .main__intro .intro-text .hr {
        display: none; }
      .container .main__intro .intro-text h1 {
        text-align: center;
        font-size: 2.5rem;
        line-height: normal;
        padding: 30px; }
      .container .main__intro .intro-text p {
        margin-bottom: 33px;
        width: 300px;
        margin-top: 0;
        color: #cecece;
        line-height: 1.3;
        letter-spacing: 1px;
        text-align: center;
        font-size: 0.9rem; }
    .container .main__intro .intro-img-mobile {
      display: block; }
      .container .main__intro .intro-img-mobile img {
        object-fit: cover;
        width: 100vw;
        height: 100vh; }
    .container .main__intro .intro-img-desktop {
      display: none; }
  .container .main__about {
    padding: 141px 33px 0; }
    .container .main__about .hr {
      margin: 0 auto 30px; }
    .container .main__about h2 {
      font-size: 2.9rem;
      line-height: normal;
      text-align: center; }
    .container .main__about .about-services {
      flex-direction: column;
      align-items: center; }
      .container .main__about .about-services div {
        text-align: center; }
        .container .main__about .about-services div img {
          margin: 59px auto 36px; }
        .container .main__about .about-services div h3 {
          font-size: 2rem;
          line-height: normal;
          text-align: center; }
        .container .main__about .about-services div p {
          line-height: 1.5;
          text-align: center; }
  .container .main__more {
    padding: 100px 24px 0; }
    .container .main__more .more-content {
      padding: 74px 40px 68px;
      display: block;
      background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
      background-repeat: no-repeat;
      background-position: top right; }
      .container .main__more .more-content h2 {
        padding: 0;
        font-size: 2.4rem;
        text-align: center; }
      .container .main__more .more-content .more-link {
        display: block;
        margin-top: 18px;
        left: 0; }
      .container .main__more .more-content .more-desktop-img {
        display: none; }
  .container .footer__content {
    padding: 100px 24px 85px;
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left; }
    .container .footer__content .links {
      flex-direction: column;
      align-items: center; }
      .container .footer__content .links a {
        margin: 0 15px 0; }
      .container .footer__content .links .social-links {
        margin-top: 23px; }
    .container .footer__content .useful-links {
      flex-direction: column;
      align-items: center; }
      .container .footer__content .useful-links div {
        align-items: center;
        justify-content: center; }
        .container .footer__content .useful-links div h4 {
          margin-bottom: 26px;
          margin-top: 21px; }
  .container .footer .attribution {
    margin-top: 0; } }
