$very-light-gray: hsl(0, 0%, 98%);

@mixin mainFont($weight, $size) {
  font-family: "Poppins", sans-serif;
  font-size: $size;
  font-weight: $weight;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: $very-light-gray;
}
