$very-light-gray: hsl(0, 0%, 98%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$box-shadow: #b4cae9;
$link-color: #3e52a3;
$white: #ffffff;
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

@mixin mainFont($weight, $size) {
  font-family: "Poppins", sans-serif;
  font-size: $size;
  font-weight: $weight;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $very-light-gray;
}

.main-container {
  position: relative;
  min-height: 100vh;

  header {
    text-align: center;
    margin: 5rem auto 3rem;

    h1 {
      color: $very-dark-blue;
      margin-bottom: 1rem;

      span {
        display: block;
      }

      .heading-text-one {
        @include mainFont(200, 2rem);
      }

      .heading-text-two {
        @include mainFont(600, 2rem);
      }
    }

    h2 {
      color: $grayish-blue;
      @include mainFont(400, 1rem);

      span {
        display: block;
      }
    }
  }

  main {
    padding-bottom: 2.5rem;

    .card-layout {
      display: flex;
      flex-direction: column;
      align-items: center;

      .card-content {
        background-color: $white;
        border-radius: 5px;
        box-shadow: 1px 5px 8px $box-shadow;
        box-sizing: border-box;
        border-top: 4px solid;
        margin: 1rem;
        height: 15.875rem;
        position: relative;
        max-width: 21.875rem;
        cursor: pointer;

        h3 {
          color: $very-dark-blue;
          @include mainFont(600, 1.2rem);
          padding: 1.75rem 0 0 2rem;
          margin: 0 0 0.5rem;
        }

        p {
          color: $grayish-blue;
          @include mainFont(400, 0.8125rem);
          margin: 0 2rem;
          max-width: 17rem;
        }
        img {
          position: absolute;
          right: 2rem;
          bottom: 2rem;
        }

        &:hover {
          animation: move-up 1s ease-out forwards;
        }
      }

      .cyan {
        border-color: $cyan;
      }

      .red {
        border-color: $red;
      }

      .orange {
        border-color: $orange;
      }

      .blue {
        border-color: $blue;
      }
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: center;

    .attribution {
      font-size: 1rem;
      text-align: center;
    }

    .attribution a {
      color: $link-color;
    }
  }
}

@media (min-width: 75rem) {
  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .card-layout {
      flex-direction: row;
    }
  }
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(-1rem);
  }
}
