@import "animations";

// colors
$dark-violet: hsl(256, 26%, 20%);
$grayish-blue: hsl(216, 30%, 68%);
$very-dark-violet: hsl(270, 9%, 17%);
$dark-grayish-violet: hsl(273, 4%, 51%);
$very-light-gray: hsl(0, 0%, 98%);

%generic-hr {
  height: 0.0625rem;
  width: 10rem;
  margin-bottom: 4.8125rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: $very-light-gray;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  min-height: 100vh;
  width: 100vw;

  .header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.0625rem 17rem;
    position: relative;
    z-index: 2;

    &__hamburger-toggle {
      display: none;
    }

    &__nav {
      &__items {
        display: flex;

        li {
          list-style-type: none;
          margin-left: 1rem;
          text-transform: uppercase;
          color: $dark-grayish-violet;
          cursor: pointer;

          a {
            &:hover {
              color: $dark-violet;
            }
          }

          .active {
            border: 0.125rem solid $dark-violet;
            color: $dark-violet;
            padding: 0.7rem 1.75rem;
            transition: all 0.3s ease-in;

            &:hover {
              background-color: $dark-violet;
              color: $very-light-gray;
            }
          }
        }
      }
    }
  }

  .main {
    &__intro {
      height: fit-content;
      background-color: $dark-violet;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.625rem 15rem;

      .left-decor-pattern {
        position: absolute;
        left: -0.3125rem;
        top: 36.25rem;
      }

      .right-decor-pattern {
        position: absolute;
        top: 5.5rem;
        right: 0.0625rem;
        z-index: 1;
      }

      .intro-text {
        .hr {
          @extend %generic-hr;
          background-color: $very-light-gray;
        }

        h1 {
          font-size: 5rem;
          line-height: 5rem;
          color: $very-light-gray;

          span {
            display: block;
          }
        }

        p {
          margin: 1.9375rem 0 2.375rem;
          width: 34.375rem;
          line-height: 1.5rem;
          color: $very-light-gray;
          opacity: 0.8;
        }

        .intro-link {
          color: $very-light-gray;
          padding: 0.9375rem 1.75rem;
          border: 0.125rem solid $very-light-gray;
          background-color: transparent;
          transition: all 0.3s ease-in;
          width: fit-content;
          font-weight: bold;
          margin-bottom: 1.4375rem;
          cursor: pointer;

          &:hover {
            background-color: $very-light-gray;
            color: $dark-violet;
          }
        }
      }

      .intro-img-mobile {
        display: none;
      }

      .intro-img-desktop {
        position: relative;
        top: 8.75rem;
        right: -2.625rem;
      }
    }

    &__about {
      background-color: transparent;
      padding: 244px 275px 173px;

      .hr {
        @extend %generic-hr;
        background-color: $grayish-blue;
      }

      h2 {
        color: $dark-violet;
        font-size: 4rem;
      }

      .about-services {
        display: flex;
        justify-content: space-between;

        div {
          max-width: 352px;

          img {
            margin-bottom: 40px;
            margin-top: 106px;
          }

          h3 {
            font-size: 1.8rem;
            line-height: initial;
          }

          p {
            color: $dark-grayish-violet;
            margin-top: 20px;
            line-height: 2;
          }
        }
      }
    }
  }
}

// .attribution {
//   font-size: 11px;
//   text-align: center;
// }
// .attribution a {
//   color: hsl(228, 45%, 44%);
// }

@media (max-width: 1200px) {
  .container {
    .header {
      padding: 0;

      &__hamburger-toggle {
        display: block;
      }

      &__nav {
        display: none;
      }
    }

    .main {
      &__intro {
        flex-direction: column-reverse;
        padding: 0;

        .left-decor-pattern {
          display: none;
        }

        .right-decor-pattern {
          display: none;
        }

        .intro-text {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .hr {
            display: none;
          }

          h1 {
            font-size: 1rem;
          }

          p {
            margin: 0;
          }
        }

        .intro-img-mobile {
          display: block;

          img {
            object-fit: cover;
            width: 100vw;
            height: 100vh;
          }
        }

        .intro-img-desktop {
          display: none;
        }
      }

      &__about {
        padding: 141px 33px 0;

        .hr {
          margin: 0 auto 30px;
        }

        h2 {
          font-size: 2.9rem;
          line-height: normal;
          text-align: center;
        }

        .about-services {
          flex-direction: column;
          align-items: center;

          div {
            text-align: center;

            img {
              margin: 59px auto 36px;
            }

            h3 {
              font-size: 2rem;
              line-height: normal;
              text-align: center;
            }

            p {
              line-height: 1.5;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
